<div class="app-mensajes " id="app-mensajes">
    <div [ngClass]="{'text-end': firechat.usuario.uid == chat.uid}" *ngFor="let chat of firechat.chats">
        <span class="badge" [ngClass]="{'bg-dark': firechat.usuario.uid == chat.uid, 'bg-danger': firechat.usuario.uid != chat.uid}">{{chat.nombre}}</span>
        <p>{{chat.mensaje}}</p>
    </div>
</div>

<input type="text " name="mensaje " class="form-control " [(ngModel)]="data.mensaje " (keyup.enter)="enviarMensaje() " placeholder="Escribir mensaje... ">